<!-- <form #itemForm="ngForm" (ngSubmit)="insertItem(itemForm)">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Inserisci prodotto</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="title">Titolo</label>
				<input id="title" name="title" [(ngModel)]="title" type="text" class="form-control">
				<label for="description">Descrizione</label>
				<input id="description" type="text" name="description" [(ngModel)]="description" class="form-control">
			</div>
		</div>
		<div class="panel-footer">
			<button type="submit" class="btn btn-primary">Salva</button>
		</div>
	</div>
</form>
{{itemForm.value | json}} -->
<!-- <div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-12 mx-0">
		<ul class="list-group">
		<li *ngFor="let item of dbItem" class="list-group-item">
			{{item.title}}
			{{item.description}}
			{{item.notes}}
		</li>
		</ul>
	</div>
	</div>
</div> -->

<!-- <form #itemForm="ngForm" enctype="multipart/form-data">
	<div class="container">
		<div class="form-group">

			<input [(ngModel)]="userItem.title" type="text" class="form-control" name="title" placeholder="Titolo">
		</div>
		<div class="form-group">

			<textarea [(ngModel)]="userItem.description" class="form-control" name="description"
				placeholder="Descrizione"></textarea>
		</div>
		<div class="form-group">
			<textarea [(ngModel)]="userItem.notes" type="text" class="form-control" name="notes"
				placeholder="Note"></textarea>
		</div>
		<div class="form-group">

			<input multiple type="file" class="form-control bg-dark text-white" 
				[(ngModel)]="pictureList" 
				name="pictureList" (change)="onFileSelect($event)" accept="image/*">


		</div>
		Shareable short link of  uoloaded file -->
<!-- <div class="container text-center jumbotron" *ngIf="shortLink">
			<h2> Visit Here</h2>
			<a href="{{shortLink}}">{{shortLink}}</a>
		</div> -->

<!--Flag variable is used here-->
<!-- <div class="container" *ngIf="loading">
			<h3>Loading ...</h3>
		</div>
		<div class="mb-3"><button type="submit" (click)="insertUserItem()">Salva</button>
		</div> -->
<!-- <button type="reset" (click)="reset()">Reset</button> -->
<!--</div>
</form>
{{loggedUser.id}}
<table>
	<thead>
		<th>title</th>
		<th>created_at</th>
		<th>user_item_id</th>
		<th>description</th>
	</thead>
	<tbody>
		<tr *ngFor="let userItem of dbItem">
			<td>{{userItem.title}}</td>
			<td>{{userItem.createdAt}}</td>
			<td>{{userItem.description}}</td>
		</tr>
	</tbody>
</table>
<hr /> -->



<div class="container">

	<div class="row">
		<p class="title"><b>I tuoi prodotti</b></p>
		<p class="subTitle">Seleziona un prodotto per modificarlo</p>
		<div class="left">
			<div class="col-lg-6 col-md-12 mx-0">

				<ul class="list-group">

					<li *ngFor="let userItem of dbItem" class="list-group-item"
						[ngClass]="{'active' : active?.id === userItem.id}" (click)="setActive(userItem)">

					<b>{{userItem.title}}</b>
						<div class="itemDescription">Descrizione: {{userItem.description}} </div>
						<p>Note: <i>{{userItem.notes}}</i></p>
						<button class="btn-class" (click)="insertAuctionFromItem()">Vendi</button>
					</li>
				</ul>
			</div>

			
		</div>
	</div>
			<!-- <div class="item-html">
				<div class="insert-form">
					<form #itemForm="ngForm" class="insertItem" (submit)="insertUserItem(itemForm)">
						<div class="group">
							<input [(ngModel)]="userItem.title" type="text" class="form-control" name="title"
								placeholder="Titolo">
						</div>
						<div class="group">
							<textarea [(ngModel)]="userItem.description" class="form-control" name="description"
								placeholder="Descrizione"></textarea>
						</div>
						<div class="group">
							<textarea [(ngModel)]="userItem.notes" type="text" class="form-control" name="notes"
								placeholder="Note"></textarea>
						</div>
						<div class="group">

							<input multiple type="file" class="form-control bg-dark text-white"
								[(ngModel)]="pictureList" name="pictureList" (change)="onFileSelect($event)"
								accept="image/*">
							<div id="btn">
								<button type="submit">{{active.id ? 'Modifica'  : 'Salva'}}</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div> -->
<!---->
<div class="item-wrap">
	<div class="item-html">
		<input id="tab-1" type="radio" name="tab" class="item-insert" checked><label for="tab-1" class="tab">Nuovo porodotto</label>
		<!-- <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">REGISTRATI</label> -->
		<div class="insert-item-form">
			<form class="insert-in-html" #itemForm="ngForm" (submit)="insertUserItem(itemForm)">
				<div class="group">
					
					<input type="text" class="input" name="titolo" [(ngModel)]="userItem.titolo" placeholder="Titolo">
				</div>
				<div class="group">
					
					<textarea type="text" class="input" name="description" [(ngModel)]="userItem.description" placeholder="Descrizione">
				</textarea>
					</div>
				<div class="group">
					<textarea type="text" class="input" name="notes" [(ngModel)]="userItem.notes" placeholder="Note"></textarea>
				</div>
				<div class="group">
					<input multiple type="file" class="form-control bg-dark text-white"
								[(ngModel)]="pictureList" name="pictureList" (change)="onFileSelect($event)"
								accept="image/*">
				</div>
				<div class="group">
					<button class="button" type="submit">{{active.id ? 'Modifica'  : 'Salva'}}</button>
				</div>
				
			</form>
			</div>
			</div>
			</div>