 <div>
	<table>
		<thead>
			<th> Data </th>
			<th> Numero </th>
			<th> Auction User </th>
			<th> prezzo </th>
		</thead>
		<tbody>
			
			<tr *ngFor="let auctionOrder of auctionOrderList">
				<td>{{auctionOrder.createAt | date:'dd-MM-yyyy hh:mm:ss'}}</td>
				<td>{{auctionOrder.orderNo}}</td>
				<td>{{auctionOrder.auction.userItem.user.email}}</td>
				<td>{{auctionOrder.amount}}</td>
				<button type="submit" (click)="makePayment(auctionOrder)">Paga Ordine</button>
			</tr>
		</tbody>
	</table>
</div>


	<form #payment id="payment" method="post" action="{{payment.urlBank}}">
		<input type="hidden" name="email">
		<input type="hidden" name="amount">
		<input type="hidden" name="customCode">
		<input type="hidden" name="urlSuccess">
		<input type="hidden" name="urlUnDo">
		<input type="hidden" name="urlNotify">
	</form>

