<div id="main_container">

	<div id="header">
		<div id="logo"> <a><img
					src="https://www.kindpng.com/picc/m/347-3477302_updating-icon-clipart-png-download-auction-white-icon.png"
					alt="" border="0" width="300" height="260" /></a> </div>
		<div class="offerte_content">
			<div *ngIf="loggedUser === null" class="welcome">
				<b>Benvenuto </b>
			</div>
			<div *ngIf="loggedUser !== null" class="welcome">
				<b>Benvenuto <p>{{loggedUser.name}} {{loggedUser.surname}} {{loggedUser.createdAt}}</p></b>
			</div>
			<hr>
			<div class="offerta_text"> Hai degli oggetti che non usi pi&ugrave;?
				Mettili all'asta e divertiti guadagnando
			</div>

		</div>
	</div>

</div>

	
		<div class="title">
			Tutte le aste
		</div>
		
			<app-auction></app-auction>
		
	