
<div *ngIf="loggedUser !== null">
	<a>Benvenuto {{loggedUser.name}} {{loggedUser.surname}} {{loggedUser.createdAt}}</a>
</div>

<div id="main_container">

	<div id="header">
		<div id="logo"> <a><img
					src="https://image.freepik.com/free-vector/auction-logo-initial-letter-design-template-inspiration_340145-109.jpg"
					alt="" border="0" width="237" height="260" /></a> </div>
		<div class="oferte_content">
			<div class="top_divider"><img src="" alt="" width="1" height="164" /></div>
			<div class="oferta">
				<div class="oferta_content"> <img src="" width="94" height="92" alt="" border="0"
						class="oferta_img" />
					<div class="oferta_details">
						<div class="oferta_title">Samsung GX 2004 LM</div>
						<div class="oferta_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
							nostrud exercitation ullamco </div>
						<a href="details.html" class="details">details</a>
					</div>
				</div>
				<div class="oferta_pagination"> <span class="current">1</span> <a href="#">2</a> <a href="#">3</a> <a
						href="#">4</a> <a href="#">5</a> </div>
			</div>
			<div class="top_divider"><img src="images/header_divider.png" alt="" width="1" height="164" /></div>
		</div>
		<!-- end of oferte_content-->
	</div>
	<div id="main_content">
		

		<div class="center_content">
			<div class="center_title_bar">Tutte le aste</div>
			<div class="prod_box"> <div class="top_prod_box"></div>
				<div class="center_prod_box">
					<app-auction></app-auction>
			</div>
		</div>
		</div>
		<!-- end of center content -->
		
		<!-- end of right content -->
	
<!-- end of main_container -->