<div>
	<!-- <p *ngIf="helpCenterMessage != null">{{helpCenterMessage}}</p> -->
	<p>{{helpCenterMessage}}</p>
</div>

<div>
	<p>Crea nuova richiesta di assistenza</p>
	<form class="insert-in-html" #helpCenterForm="ngForm" (submit)="insertHelpCenter()">
		
		<div class="group">
			<textarea type="text" class="input" name="question" [(ngModel)]="helpCenter.question" placeholder="Descrizione">
		</textarea>
			</div>
		
		<div class="group">
			<button class="button" type="submit">Invia Domanda</button>
		</div>

	</form>
</div>

<div>
	<table>
		<thead>
			<th> Assegnato a </th>
			<th> Domanda topic </th>
			<th> Creazione topic  </th>
			<th> Ultimo aggiornamento </th>
			<th> Chiusura topic </th>
		</thead>

		<tbody>
			<tr *ngFor="let topic of listHelpCenter">
				<td>{{topic.staffAssigned.surname}} {{topic.staffAssigned.name}}</td>
				<td>{{topic.question}}</td>
				<td>{{topic.createdAt | date:'dd-MM-yyyy hh:mm:ss'}}</td>
				<td>{{topic.updatedAt | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
				<td>{{topic.closedAt | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
			</tr>
		</tbody>
		
	</table>
</div>

