 <div>
	<table>
		<thead>
			<th> Utente </th>
			<th> Data Inizio </th>
			<th> Oggetto  </th>
			<th> Prezzo Iniziale </th>
			<th> Bid</th>
			<th> Data fine </th>
		</thead>

		<tbody>
			<tr *ngFor="let auction of dbAuction">
				<td>{{auction.userItem.user.name}}</td>
				<td>{{auction.startAuctionAt | date:'dd-MM-yyyy hh:mm:ss'}}</td>
				<td>{{auction.userItem.title}}</td>
				<td>{{auction.startPrice}}</td>
				<td>{{auction.currentBid}}</td>
				<td>{{auction.endAuctionAt | date:'dd-MM-yyyy hh:mm:ss'}}</td>
				<button routerLink="/auctionBid" (click)="insertAuctionBidForm(auction)">Fai Un offerta</button>
			</tr>
		</tbody>
	</table>
</div> 
<!-- <button class="form-group" (click)="insertAuctionForm()">Inserisci Asta</button>
<div class="form-group" *ngIf="insertAuctionButton"> --> 
	<label class="control-label">inserimento Asta</label>
	<form #auctionForm="ngForm" (submit)="insertAuction(auctionForm)">
		<div class="container">
			<div class="form-group">
				<textarea class="form-control" type="text" [(ngModel)]="newAuction.userItemId" name="userItemId" placeholder="ID OGGETTO" ></textarea>
			</div>
			<div class="form-group">	
				<input class="form-control" type="number" [(ngModel)]="newAuction.startPrice" name="startPrice"  pattern="^\d*(\.\d{0,2})?$" placeholder="startPrice PREZZO INIZIALE"/>
			</div>
			<div class="form-group">	
				<input class="form-control" type="datetime-local" [(ngModel)]="newAuction.startAuctionAt" name="data" value="" min="current" placeholder="dataIniziale DATA INIZIO ASTA">
			</div>
			<div class="form-group">	
				<input class="form-control" type="number" [(ngModel)]="auctionDayDuration" name="endData" required min="1" placeholder="DURATA ASTA">
			</div>
			<div class="form-group">	
				<input class="form-group" type="radio" name="fixedBid" value="0" [(ngModel)]="newAuction.freeBidEveryTime" ng-checked="true"/>Offerta Fissa<br />
				<div class="form-group" *ngIf="newAuction.freeBidEveryTime == 0">
					<input class="form-group" type="text" name="freedBid" [(ngModel)]="newAuction.fixedBidEveryTime" />
				</div>
				<input class="form-group" type="radio" name="fixedBid"  value="1" [(ngModel)]="newAuction.freeBidEveryTime" placeholder="PREZZO FISSO OFFERTA" ng-checked="true"/>Offerta Libera<br />
			</div>
			<div class="mb-3"><button type="submit" >Inserisci</button>
			</div>
		</div>
	</form>
<!-- </div> -->