<label class="control-label">inserimento Asta</label>
<form #itemForm="ngForm">
	<div class="container">
		<div class="form-group">
			<textarea class="form-control" type="text" [(ngModel)]="newAuction.userItemId" name="description" placeholder="userItemId" ></textarea>
		</div>
		<div class="form-group">	
			<textarea class="form-control" type="number" [(ngModel)]="newAuction.startPrice" name="startPrice"  pattern="^\d*(\.\d{0,2})?$" placeholder="startPrice"></textarea>
		</div>
		<div class="form-group">	
			<input class="form-control" type="datetime-local" [(ngModel)]="newAuction.startAuctionAt" name="data" value="" min="current" placeholder="dataIniziale">
		</div>
		<div class="form-group">	
			<input class="form-control" type="number" [(ngModel)]="endAuctionAt" name="endData" min="1" max="5">
		</div>
		<div class="mb-3"><button type="submit" (click)="insertAuction()">Inserisci</button>
		</div>
	</div>
</form>

<table>
		<thead>
			<th>created_at</th>
			<th>user_item_id</th>
			<th>start_price</th>
			<th>end_auction_at</th>
		</thead>
		<tbody>
			<tr *ngFor="let auction of dbAuction">
				<td>{{auction.createdAt | date:'dd-MM-yyyy hh:mm:ss'}}</td>
				<td>{{auction.userItemId}}</td>
				<td>{{auction.startPrice}}</td>
				<td>{{auction.endAuctionAt}}</td>
			</tr>
		</tbody>
	</table>
	<hr/>

